* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    box-shadow: 15px;
}

.container1{
    display: block;
    padding: 10px;
    margin-left: 30px;
}

.container1 a{
    text-decoration: 10px;
    
}

.container1 h1{
    color: #800000;
    font-family: serif;
}

.navlist {
    padding: 20px;
}

.navlist a{
    position: relative;
    text-decoration: none;
    margin-left: 20px;
    color: black;
    padding-top: 20px   ;
    font-size: large;
}

.navlist ul {
    list-style: none;
    display: flex;
    margin-left: 20px;
}

.navlist a:hover {
    color: red;
    transition-delay: 0.1s;
}

